<div id="q_and_a">
  <p><%= @question %></p>
  <p><em> -You</em></p>
  <br>
  <p><%= @answer %></p>
  <em> -Your coach</em>
  <br>

  <div id="newquestion">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
